.title {
  font-size: 0.7rem;
  margin: 1rem .5rem 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #dde0dd;

  h2 {
    max-width: 80%;
  }

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 540px) {
    font-size: 0.8rem;
  }
}