.ant-breadcrumb {
  align-items: center;
  display: flex;
  padding: 15px 18px;
  color: $dark-gray;
  padding-bottom: 0;

  ol {
    padding-right: 20px;
    position: relative;

    
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
  }
}