.ant-form-item-control-input-content {
  .ant-input-number,
  .ant-picker {
    width: 100%;
  }
}

.profile-settings-form {
  .radio-grup-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .profile-page-goBack {
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .centered, .subtitle, .solo-checkbox {
    text-align: center;
  }
  
  .mb-3 {
    margin-bottom: 30px;
    font-size: 1rem;
  }

  p {
    margin: 5px 0 10px;
    font-weight: 600;
  }

  .form-profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    button {
      width: 120px;
      font-size: 13px;
      line-height: 16px;
      box-shadow: 1px 1px 0px $gray-light-2;
      border-radius: 4px;
      background-color: $yellow;
      outline: none;

      &:hover, &:focus {
        color: #404952;
        border-color: #404952;
      }
    }
  }
}

.checkbox-favorite {
  cursor: pointer;
}