.ant-popover-inner-content {
  border-radius: 4px;
}

.filter-popover-form {
  span, .ant-form-item .ant-form-item-label > label {
    display: flex;
    color: #717579;
  }

  .ant-select-selector, .ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-picker, .ant-input {
    border: none;
    border-bottom: 1px solid $gray-light-2;

    outline: 0;
    outline-offset: 0;
    box-shadow: none!important;
  }

  input, .ant-select .ant-select-in-form-item .ant-select-single .ant-select-allow-clear .ant-select-show-arrow {
    outline: 0;
    outline-offset: 0;
    box-shadow: none!important;
  }

  &__btn-reset {
    background: $gray-light;
    box-shadow: 1px 1px 0px $gray-light-2;
    border-radius: 4px;
    color: $dark-gray;
    border: none;
  }

  &__btn__submit {
    background: $yellow;
    box-shadow: 1px 1px 0px $gray-light-2;
    border-radius: 4px;
    color: $dark-gray;
    border: none;

    &:hover {
      background: $white;
      color: $yellow;
      border-color: $yellow;
    }
    &:focus {
      background: $yellow;
      color: $dark-gray;
      border-color: $yellow;
    }
  }

  .ant-space-align-center {
    width: 100%;
    justify-content: flex-end;
  }
}