$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1240px;

$white: #ffffff;
$black: #000000;

$dark-gray: #404952;
$gray: #B3B5B7;
$gray-light: #F6F6F6;
$gray-light-2: #E2E2E2;

$yellow: #FFC107;
